## Imports

In [303]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load Data

In [304]:
df = pd.read_csv('winequality-white.csv',delimiter=';')

In [305]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [306]:
df.shape

(4898, 12)

In [307]:
unique = df['quality'].unique()
nunique = df['quality'].nunique()
print(f'Unique values in QUALITY: {unique}')
print(f'Unique values in QUALITY: {nunique}')

Unique values in QUALITY: [6 5 7 8 4 3 9]
Unique values in QUALITY: 7

## Split Data

In [308]:
X = df.drop('quality', axis=1)
y = df['quality']

In [309]:
from sklearn.model_selection import train_test_split

In [310]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

## Create and Train the model and Predict

In [311]:
from sklearn.tree import DecisionTreeRegressor

In [312]:
regressor = DecisionTreeRegressor()

In [313]:
# regressor.fit(X_train.reshape(-1,1), y_train.reshape(-1,1))
regressor.fit(X_train, y_train)

DecisionTreeRegressor()

In [314]:
predictions = regressor.predict(X_test)

## Evalute the Performance

In [315]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':predictions})
df

      Real Values  Predicted Values
4576            5               6.0
167             7               6.0
1889            5               6.0
958             7               6.0
3010            5               5.0
...           ...               ...
4108            6               7.0
4370            5               5.0
96              6               6.0
1589            6               6.0
3264            6               6.0

[1617 rows x 2 columns]

In [316]:
index_position = 200
np_y_test = np.array(y_test)
print('Actual is: ' + str(np_y_test[index_position]/1))
print('Prediction is: ' + str(round(predictions[index_position],2)))

Actual is: 6.0
Prediction is: 6.0

In [317]:
from sklearn import metrics

print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 0.49845392702535557
MSE: 0.7000618429189858
RMSE: 0.8366969839308528